[submodule "themes/AllinOne"]
	path = themes/AllinOne
	url = git@github.com:orianna-zzo/AllinOne.git
	branch = master
[submodule "public"]
	path = public
	url = git@github.com:coro/coro.github.io
	branch = staging
